* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  max-width: 100vw;
}

body {
  background: #fff
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
	padding-inline-start: 2vw;
}

h1 {
	color: #4977bb;
}

h2 {
	color: #4977bb;
}

