.bg {
	background-color: #f0f0f0;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 2rem;
	background: #fff;
	box-shadow: 0px 0px 16px rgba(73, 120, 187, 0.3);
	width: 100vw;
	z-index: 2;
}

.inventoryContent {
	flex-grow: 1;
	background: #fff;
	width: 100vw;
	padding: 1.5rem 2rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.tableHeader {
	display: flex;
	flex-direction: row;
	
}

.searchBar {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.searchField + label > * {
	padding: none;
	border: none;
	background: none;
	border-radius: 100vh;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
}

.searchField {
	flex-grow: 1;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 100vw;
	border: none;
	outline: solid 2px;
}

.searchField:focus {
	outline-color: rgb(73, 120, 187);
}

.searchField:focus + label > * {
	color: rgb(73, 120, 187);
}

/*   Old */
.card {
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: 0px 0px 16px rgba(73, 120, 187, 0.3);
	margin: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: clip;
}

.titleRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.titleRow > h1 {
	font-size: 2rem;
}

.inputLine {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-block: 0.5rem;
	justify-content: center;
}

.inputLine > input {
	line-height: 2rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;
	flex-grow: 1;
}

.inputLine > input:focus {
	outline-color: rgb(73, 120, 187);
}

.inputLine > input:focus + label {
	color: rgb(73, 120, 187);
}


.inputLine > input[type='submit'] {
	background-color:  rgb(73, 120, 187);
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	flex-grow: 0;
	padding: 0.5rem;
	padding-inline: 1rem;
	border-radius: 50vh;
	border: none;
	cursor: pointer;
}
